head title{
  padding: 20px;
  margin: 20px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgba(255, 255, 255, 0.877);
}
 .row{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .card{
   background-color: rgba(0, 0, 0, 0.425);
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    width: 400px;
    transition: all 0.3 sec ease-out;
 }
 .card:hover {
   transform: translateY(-6px);
 }
 .card p{
   color: rgba(0, 0, 0, 0.61);
   font-size: 20px; 
 }
 .card h2{
  font-size: 30px;
   color: rgba(0, 0, 0, 0.808);
 }
 .salame {
   border-left: 3px solid green;
 }
 .title h1 {
  background-color: green;
  font-size:500%;
   display:flex;
   align-items: center;
   justify-content: center;
 }
 .title h2 {
  font-size: 300%;
   display:flex;
   align-items: center;
   justify-content: center;
 }
 .title{
  color: rgb(0, 0, 0);
 }
 .resto h2{
  font-size: 35px;
 }
 .resto p{
  font-size: 20px;
 }
.resto{
  padding: 20px;
  margin: 20px;
  border-left: 400px;
  color: rgb(0, 0, 0);
  display:grid;
  align-items:flex;
  justify-content:start; 
}
.trigo{
  border-left: 3px solid green;
}
.galeto{
  border-left: 3px solid green;
 }
.bebida{
  border-left: 3px solid green;
}
.livre{
  border-left: 3px solid green;
}
.mapa{ 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 50px;
}
.map h2{  
  font-size: 35px;
    padding: 20px;
    margin: 20px;
  color: rgb(0, 0, 0);
}
.map p{  
  font-size: 20px;
    padding: 20px;
    margin: 20px;
    color: rgb(7, 7, 7);
}
.subtitle{
  color: rgb(0, 0, 0);
}
.subtitle h2{
  font-size: 35px;
  padding: 20px;
}
.final p {
  font-size: 20px;
}
.final h2{
  font-size: 35px;
}
.final{
  padding: 20px;
  margin: 20px;
  border-left: 400px;
  color: rgb(0, 0, 0);
  display:grid;
  align-items:flex;
  justify-content:start;
}
.registro{
  background-color: rgba(0, 128, 0, 0.623);
  padding: 20px;
  margin: 20px;
  border-left: 400px;
  color: rgb(0, 0, 0);
  display:flex;
  align-items:flex;
  justify-content:center;
}
.registro p{
  justify-content: center;
  align-items: center;
  padding: 2px;
  margin: 2px;
  border-left: 400px;
}
.registro p1{
  padding: 2px;
  margin: 2px;
  border-left: 400px;
}
.mapa img{
  width: 550px;
  height: 550px;
  display:grid;
  align-items: center;
  justify-content: center;
}
.apoio{
  font-size: 27px;
  color: rgb(0, 0, 0);
  padding: 20px;
  margin: 20px;
}
.apoio img{
  text-align: center;
  display:center;
  align-items: end;
  justify-content: end;
  height: 200px;
  width: 200px;
  padding: 20px;
  margin: 20px;
}
.atezape img{
  width: 50px;
  height: 50px;
}